<div class="container form-signin">
  <h2>Registration</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: "sr-only" %><br />
        <%= f.email_field :email, placeholder: 'Email Address', autofocus: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "sr-only" %><br />
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
      </div>
  <% end %>

</div>
